
body{
    background-color: #d9c9bb;
    justify-content: center;
    color: var(--color-texto);
    margin: 0;
}

:root{
    font-size: 15px;
    font-family: 'Roboto', 'Open Sans', sans-serif;
    --color-1: #048A81;
    --color-2: #744821;
    --color-3: #eb54d7;
    --color-pagina: white;
    --color-texto: black;
    color: var(--color-texto);
}

.fleVisibilidad {
    margin-top: 18px;
    margin-right: 45px;
    float: right;
    padding: 7px;
    border-radius: 3px;
}
.fleVisibilidad:hover{
    background-color: var(--color-2);
    color: var(--color-texto);
    cursor: pointer;
}




p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.05em;
}

/* Elementos del encabezado */
.encabezado{
    height: 200px;
    display: flex;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    padding: 2.1rem 1rem;
    background-color: #21743778;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;

}
nav ul li a{
    color: var(--color-texto);
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: 1rem;
}


#modoVis{
    padding: 1rem;
}
#modoVis:hover, nav ul li a:hover{
    cursor: pointer;
    background-color: var(--color-1);
    border-radius: 6px;
}


/*Contenedor de la foto de perfil (figure e img)*/
#perfil{
    float: left;
    min-width: 128px;
    max-width: 140px;
    width: 20%;
    height: 100%;
    margin-left: 10px;
}

#pagina{
    display: flexbox;
    justify-content:center;
    margin: auto;
    min-width: 650px;
    max-width: 65%;
    padding: 30px;
    background-color: var(--color-pagina);
}


/* figure contenedor de img*/
#foto{
    margin: 0px;
    display: flex;
    padding-left: 700px;
    flex-direction: column;
    justify-content: center;
    min-width: 128px;
    min-height: 128px;
    width: 99%;
    height: 99%;
}

/* img contenedor de la imagen de perfil */
#fotoPerfil{
    border-radius: 50%;
    width: 128px;
    height: 128px;
    border-style: solid;
    border-color: #21743778;
}




/* div contenedor del nombre y profesion */
#nombreTitulo{
    float: left;
    flex-direction: row;
    min-width: 350px;
    margin: auto;
    text-align: center;
    font-size: 1.45rem;
}


/* Elementos del cuerpo*/
.iconoTitulo {
    float: left;
    flex-direction: row;
    margin-top: 19px;
    margin-left: 15px;
    font-size: 1.4rem;
}

.tematica{
    clear: both;
    border-top: 3px solid #84c39a;
    padding-bottom: 10px;
}

.datos {
    padding-left: 0px;
}

.datosLeft
{
    float: left;
}

.resaltar {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}



.titulo {
    padding-bottom: 4em;
    border-bottom: 1px solid #4c1d461c;
}
.titulo h3 {
    float: left;
    display: flex;
    margin: 0px;
    padding: 1em;
    font-size: 1.27em;
}

[id^=mostrar] {
    display: none;
}


footer {
    clear: both;
    border-top: 1px #84c39a;
    padding-top: 1em;
    text-align: center;
    margin-top: 10px;
}

a{
    color: inherit;
}
footer a:hover{
    color: #84c39a;
    font-weight: bold;
}

#formularioContactar{
    margin-top: 20px;
}
#formularioContactar input{
    margin-bottom: 15px;
}

.cajaFormulario {
    color: var(--color-texto);
    background-color: #f4f5ff;
    border: 1px solid #7c80a9;
    border-radius: 3px;
}

#enviarFormulario:hover{
    cursor: pointer;
    font-weight: bold;
    transform: scale(1.25);
    transition: 0.5s ease 0.05s;
}