.spanResult
{
    background-color: lightgreen;
}

img
{
    border: #ffd700b5 3px solid;
}

span
{
    font-family: 'Roboto', sans-serif;
}

button
{
    padding: auto;
}

.divCards
{
    margin: 4px;
    background-color: beige;
    font-family: 'Russo One', sans-serif;
}

body
{
    background-color: gainsboro;
}